# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.yarn
/.pnp
.pnp.js
env
/.vite
/.vite/***/
# testing
/coverage

# production
/build
/data
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server_tsspredator/exampleData/campylobacter/files/*
server_tsspredator/exampleData/pseudomonas/files/*
dump.rdb
package-lock.json
server_tsspredator.egg-info/PKG-INFO
celerybeat-schedule.db
server_tsspredator/exampleData/campylobacter/files.zip
server_tsspredator/exampleData/pseudomonas/files.zip
server_tsspredator.egg-info
.npmrc
.gradle
bin
.yarnrc.yml
image_tsspredator_celery_app.tar.gz
image_tsspredator_web.tar.gz
server_tsspredator/redisdb/dump-tsspredator.rdb
server_tsspredator/exampleData/saureus/files.zip
src/test/AlignedGenomeViz.jsx
src/test/GenomeViewer.jsx
src/test/GenomeViewerWrapper.jsx
src/test/Result.jsx
src/test/SharedGoslingFunctions.js
src/test/SingleGenomeViz.jsx
server_tsspredator/exampleData/saureus/saureus_config.json
server_tsspredator/redisdb/dump-tsspredator.rdb
server_tsspredator/exampleData/ecoli/files.zip
server_tsspredator/exampleData/ecoli/files/NC_000913.fna
server_tsspredator/exampleData/ecoli/files/NC_000913.gff
server_tsspredator/exampleData/ecoli/files/SRR21871282_VCE_Non_enriched_tet_div_by_7833571.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871282_VCE_Non_enriched_tet_div_by_7833571.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871283_VCE_enriched_Cappable_tet_div_by_20263468.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871283_VCE_enriched_Cappable_tet_div_by_20263468.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871285_VCE_Non_enriched_tet_div_by_8932991.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871285_VCE_Non_enriched_tet_div_by_8932991.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871286_VCE_enriched_Cappable_tet_div_by_22902080.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871286_VCE_enriched_Cappable_tet_div_by_22902080.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871288_VCE_Non_enriched_tet_div_by_8339462.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871288_VCE_Non_enriched_tet_div_by_8339462.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871289_VCE_enriched_Cappable_tet_div_by_23063114.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871289_VCE_enriched_Cappable_tet_div_by_23063114.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871291_VCE_Non_enriched_rif_div_by_2294000.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871291_VCE_Non_enriched_rif_div_by_2294000.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871292_VCE_enriched_Cappable_rif_div_by_10673062.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871292_VCE_enriched_Cappable_rif_div_by_10673062.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871294_VCE_Non_enriched_rif_div_by_2718114.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871294_VCE_Non_enriched_rif_div_by_2718114.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871295_VCE_enriched_Cappable_rif_div_by_13011353.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871295_VCE_enriched_Cappable_rif_div_by_13011353.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871297_VCE_Non_enriched_rif_div_by_3602839.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871297_VCE_Non_enriched_rif_div_by_3602839.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871298_VCE_enriched_Cappable_rif_div_by_13686346.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871298_VCE_enriched_Cappable_rif_div_by_13686346.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871300_VCE_Non_enriched_nov_div_by_9578764.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871300_VCE_Non_enriched_nov_div_by_9578764.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871301_VCE_enriched_Cappable_nov_div_by_13294524.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871301_VCE_enriched_Cappable_nov_div_by_13294524.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871303_VCE_Non_enriched_nov_div_by_7847949.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871303_VCE_Non_enriched_nov_div_by_7847949.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871304_VCE_enriched_Cappable_nov_div_by_17427847.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871304_VCE_enriched_Cappable_nov_div_by_17427847.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871306_VCE_Non_enriched_nov_div_by_7695831.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871306_VCE_Non_enriched_nov_div_by_7695831.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871307_VCE_enriched_Cappable_nov_div_by_15891125.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871307_VCE_enriched_Cappable_nov_div_by_15891125.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871309_VCE_Non_enriched_ctrl_div_by_8609484.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871309_VCE_Non_enriched_ctrl_div_by_8609484.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871310_VCE_enriched_Cappable_ctrl_div_by_5905901.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871310_VCE_enriched_Cappable_ctrl_div_by_5905901.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871312_VCE_Non_enriched_ctrl_div_by_8512211.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871312_VCE_Non_enriched_ctrl_div_by_8512211.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871313_VCE_enriched_Cappable_ctrl_div_by_25717004.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871313_VCE_enriched_Cappable_ctrl_div_by_25717004.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871315_VCE_Non_enriched_ctrl_div_by_5951641.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871315_VCE_Non_enriched_ctrl_div_by_5951641.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/ecoli/files/SRR21871316_VCE_enriched_Cappable_ctrl_div_by_15432602.0_multi_by_1000000.0_forward.wig
server_tsspredator/exampleData/ecoli/files/SRR21871316_VCE_enriched_Cappable_ctrl_div_by_15432602.0_multi_by_1000000.0_reverse.wig
server_tsspredator/exampleData/saureus/saureus_config.json
server_tsspredator/exampleData/saureus/files/GM_SA_rny1_minus_TEX.fa_div_by_6538401.0_multi_by_5727088.0_forward.wig_GM_SA_rny1_minus_TEX.fa_forward_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_rny1_minus_TEX.fa_div_by_6538401.0_multi_by_5727088.0_reverse.wig_GM_SA_rny1_minus_TEX.fa_reverse_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_rny1_plus_TEX.fa_div_by_8638586.0_multi_by_5727088.0_forward.wig_GM_SA_rny1_plus_TEX.fa_forward_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_rny1_plus_TEX.fa_div_by_8638586.0_multi_by_5727088.0_reverse.wig_GM_SA_rny1_plus_TEX.fa_reverse_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_rny3_minus_TEX.fa_div_by_7199910.0_multi_by_5727088.0_forward.wig_GM_SA_rny3_minus_TEX.fa_forward_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_rny3_minus_TEX.fa_div_by_7199910.0_multi_by_5727088.0_reverse.wig_GM_SA_rny3_minus_TEX.fa_reverse_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_rny3_plus_TEX.fa_div_by_10178348.0_multi_by_5727088.0_forward.wig_GM_SA_rny3_plus_TEX.fa_forward_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_rny3_plus_TEX.fa_div_by_10178348.0_multi_by_5727088.0_reverse.wig_GM_SA_rny3_plus_TEX.fa_reverse_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_WT2_minus_TEX.fa_div_by_5978747.0_multi_by_5727088.0_forward.wig_GM_SA_WT2_minus_TEX.fa_forward_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_WT2_minus_TEX.fa_div_by_5978747.0_multi_by_5727088.0_reverse.wig_GM_SA_WT2_minus_TEX.fa_reverse_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_WT2_plus_TEX.fa_div_by_11756179.0_multi_by_5727088.0_forward.wig_GM_SA_WT2_plus_TEX.fa_forward_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_WT2_plus_TEX.fa_div_by_11756179.0_multi_by_5727088.0_reverse.wig_GM_SA_WT2_plus_TEX.fa_reverse_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_WT3_minus_TEX.fa_div_by_5727088.0_multi_by_5727088.0_forward.wig_GM_SA_WT3_minus_TEX.fa_forward_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_WT3_minus_TEX.fa_div_by_5727088.0_multi_by_5727088.0_reverse.wig_GM_SA_WT3_minus_TEX.fa_reverse_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_WT3_plus_TEX.fa_div_by_9543947.0_multi_by_5727088.0_forward.wig_GM_SA_WT3_plus_TEX.fa_forward_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/GM_SA_WT3_plus_TEX.fa_div_by_9543947.0_multi_by_5727088.0_reverse.wig_GM_SA_WT3_plus_TEX.fa_reverse_in_NC_009641.1.gr
server_tsspredator/exampleData/saureus/files/NC_009641.fna
server_tsspredator/exampleData/saureus/files/NC_009641.gff
