:root {
    --mainColor: #ffa000;
    --complement: #4000ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

header {
    background-color: var(--mainColor);
    color: white;
    box-shadow: 0 0.1rem 0.3rem rgb(136, 88, 0, 0.5);
    font-size: 1.5rem;
    padding: 0.3% 1%;
    display: flex;
    align-items: center;
}

input {
    border: 1.5px solid #eee;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8rem;
    box-sizing: border-box;
    outline: none;
}

input[type=number] {
    width: 4.5rem;
    text-align: center;
}

.text-field {
    border: 1.5px solid rgb(220, 220, 220)
}

input:focus {
    border: 1.5px solid var(--complement);
}

.project-name {
    border: none;
    border-bottom: 0.15rem solid var(--mainColor);
    border-radius: 0;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.85);
    margin-bottom: 1.2%;
    min-width: fit-content;
    width: 28%;
}

.project-name:focus {
    border: none;
    border-bottom: 0.15rem solid var(--complement);
    background-color: rgb(245, 245, 255);
}

::placeholder {
    color: rgb(0, 0, 0, 0.4);
    opacity: 1;
}

/* Microsoft Edge */
::-ms-input-placeholder {
    color: rgb(0, 0, 0, 0.4);
}

.form-container {
    padding: 1% 0;
    margin: auto;
    width: 50.55%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

/* parameter in setup box*/
.parameter-box {
    min-width: fit-content;
    display: grid;
    grid-template-columns: 25% 75%;
}

.element {
    margin: 0.5rem 0;
    width: fit-content;
}

.element-text {
    padding: 0;
    display: flex;
    align-items: center;
}

.element-row {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
}

.margin-left {
    margin-left: 2.5%;
}

.header {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--mainColor);
    margin-bottom: 1.2%;
}

.status {

    margin-bottom: 0;
    margin-right: 0.5em;

}

.button {
    cursor: pointer;
    color: rgb(0, 0, 0, 0.8);
    background-color: #e0e0e0;
    max-height: 2.2rem;
    font-size: 0.8rem;
    padding: 1% 1.4%;
    border-radius: 0.25rem;
    box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin-top: -1%;
    margin-right: 1.1%;
    border: 1px solid transparent;
    min-width: fit-content;
}

.button:hover {
    box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0, 0.6);
    background-color: var(--complement);
    color: white;
}

.all-files {
    margin: 2% 0;
}

.file-name {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 1);
    max-width: 75%;
    font-style: italic;
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.file-box {
    width: 100%;
    display: grid;
    grid-template-columns: 23% 77%;
}

.file-box-align {
    width: 99%;
    display: grid;
    grid-template-columns: 16% 69%;
    column-gap: 5%;
}

.hidden {
    display: none;
}

.vis-hidden {
    visibility: hidden;
}

.show {
    display: flex;
}

.form-group { 
    margin-bottom: 10px;  /* Spacing between form elements */
    display: flex;        /* Align form elements horizontally */
    align-items: baseline;  /* Center form elements vertically */
  }
  
  .project-name-label {
    font-weight: bold;    /* Make label text bold */
    /* display: block;       Place label on its own line */
    margin-bottom: 5px;   /* Space between label and input */
    margin-right: 5px;     /* Space between label and input */
  }
.text-field-box {
    width: 100%;
    display: grid;
    grid-template-columns: 16% 4% 80%;
    align-items: center;
}

.click {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.click:hover {
    color: black;
}

.file-column {
    display: flex;
    flex-direction: column;
}

.file-row {
    margin: 0.8rem 0;
}

select {
    cursor: pointer;
    color: rgb(0, 0, 0, 0.8);
    background-color: rgb(224, 224, 224);
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.5);
    text-transform: uppercase;
    border: 1px solid transparent;
    width: fit-content;
    margin-bottom: 1%;
}

select:hover {
    box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0, 0.6);
    border: 1px solid var(--complement);
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.run {
    background-color: var(--mainColor);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 0;
    padding-top: 0.8%;
}

a.open-results {
    background-color: var(--mainColor);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
    /* REMOVE UNDERLINE */
    text-decoration: none;
    /* CENTER TEXT VERTICALLY */
    display: flex;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /* Adjust spacing */
}

.file-list {
    overflow-y: auto;
    max-height: 150px;
    margin-bottom: 20px;
    /* Adjust spacing */
}

.file-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-list {
    overflow-y: auto;
    /* Enables vertical scrolling */
    max-height: 150px;
    /* Adjust as needed */
    margin: 10px;
    /* This adds margin around the element */
    /* Additional styling can be added here */
}


.footer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    column-gap: 1.5%;
}

.no-margin {
    margin-right: 0;
}

.disabled {
    background-color: #e0e0e0;
    cursor: default;
}

.disabled:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.5);
    color: rgb(0, 0, 0, 0.8);
}

.disabled-field {
    background-color: #e0e0e0;
    color: black;
}

/* error popup */
.error-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.error-popup-inner {
    width: 35%;
    height: 35%;
    background: white;
    border-radius: 0.65rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    column-gap: 0;
}

.text-popup-inner {
    width: 55%;
    height: 35%;
    background: white;
    padding: 1% 3%;
    border-radius: 0.65rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    column-gap: 0;
}

.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.arrow {
    /* Adjust the size as needed */
    font-size: 1.2em;
    margin-left: 5px;
}

.file-list {
    overflow-y: auto;
    max-height: 150px;
    border: 1px solid #ccc;
    /* Added border for better visibility */
    padding: 10px;
    margin-bottom: 20px;
}

.file-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.file-name {
    flex: 1;
    /* Takes up the remaining space */
    padding-right: 10px;
    /* Adds some space between the name and the status */
}

.file-status {
    white-space: nowrap;
    /* Prevents wrapping of status icons */
}

.file-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    /* Added padding for each item */
    border-bottom: 1px solid #eee;
    /* Added border for separation */
}

.loading-popup-body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;

}
.close-popup {
    position: absolute; /* Position absolutely to break the flow and place it over the corner */
    right: 2em; /* Align to the right side */
    top: 1em; /* Align to the top */
    cursor: pointer; /* Keep the pointer cursor as you have */
  }
  .text-popup-inner {
  /* Your existing styles */
  position: relative; /* Ensure this is positioned relatively for absolute positioning inside */
}
.error-popup-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 100;
    padding: 0;
    margin: 0;
}

.error-field {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: fit-content;
    height: 65%;
}

.loading-text-field {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: fit-content;
}

.error-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

/* tooltips */
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.8s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    font-size: 0.8rem;
    background-color: #e0e0e0;
    position: absolute;
    width: 30rem;
    margin-top: 5%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.5);
    border: 1px solid transparent;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
}

[data-title] {
    position: relative;
    color: rgb(0, 0, 0, 0.5) !important;
}

[data-tabs-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.8s;
    visibility: visible;
}

[data-tabs-title]:after {
    content: attr(data-tabs-title);
    width: 20rem;
    font-size: 0.8rem;
    background-color: #e0e0e0;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.5);
    border: 1px solid transparent;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
}

[data-tabs-title] {
    position: relative;
}

#upload-zip-button:hover {
    color: var(--mainColor);
    background-color: white;
    border: 1px solid var(--mainColor);

}

.loading {
    margin-left: 65%;
}

/* drop down menue*/
.dropdown {
    position: relative;
    display: inline-block;
    min-width: 13%;
    margin-left: auto;
    margin-right: 5%;
}

.dropbtn {
    background-color: var(--mainColor);
    font-size: 1rem;
    padding: 0.25em 0.5rem 0.25em 0.5rem;
    text-align: center;
    min-width: 100%;
    color: white;
    border: 1px solid white;
    cursor: pointer;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: rgb(0, 0, 0, 0.8);
    background-color: white;
    width: 100%;
    font-size: 0.9rem;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    text-align: left;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: rgb(255, 160, 0, 0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}



@media only screen and (max-width: 1450px) {

    .form-container,
    .error-popup-inner {
        width: 70%;
    }

    .dropdown {
        min-width: 20%;
    }
}

@media only screen and (max-width: 1100px) {

    .form-container,
    .error-popup-inner {
        width: 95%;
    }

    .dropdown {
        min-width: 30%;
    }
}
