.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*width: 100vh;
  height: 100vh;*/
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2%;
  height: 75%;
  width: 65%; 
  background: white;
  border-radius: 0.65rem;
  margin: 0;
  z-index: 100;
}
@media only screen and (max-width: 1450px) {
  .popup-inner {
      width: 80%;
  }
}
@media only screen and (max-width: 1100px) {
  .popup-inner {
      width: 95%;
  }
}

.popup-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 8%;
  width: 100%;
  margin: 0;
}
.popup-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1%;
  margin: 0;
  padding: 0;
  height: 78%;
  width: 98%;
}
/* header of column + column with drop boxes*/
.drop-box-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* column with drop boxes (without header)*/
.drop-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.drop-box p {
  text-align: center;
}
.drop-box-rep {
  display: none;
}
.drag-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.5%;
  padding: 1% 3%;
  margin: 0;
  background: #e0e0e0;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 0.1rem 0.2rem rgb(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
}
/*upload box*/
.scroll {
 overflow: auto;
} 

.drag-drop-zone p {
  color: black;
  margin: auto;
}
/* einzelne drag elemente*/
.drag-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: #4000ff;
  border-radius: 0.5rem;
  color: white;
  cursor: grab;
}
.replicate-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.replicate-column {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1%;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}
.column-active {
  display: flex;
}

.popup-footer {
  border-top: 1px solid rgb(0,0,0,0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  column-gap: 75%;
}

.popup-footer .button {
  padding: 0.8% 1%;
  margin: 0;
}



/* arrows to flip through replicates*/
.arrows {
  width: 0.7rem;
  height: 0.7rem;
  border-color: black;
  cursor: pointer;
  margin-top: 0.3rem;
 
}
.arrows:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.prev {
  border-bottom: 1px solid;
  border-left: 1px solid;
  transform: rotate(45deg);
  margin-right: 1rem;
}
.next {
  border-bottom: 1px solid;
  border-left: 1px solid;
  transform: rotate(-135deg);
  margin-left: 1rem;
}
/* orange arrow */
.long-arrow {
  width: 7rem;
  /*margin: 0.5rem;*/
}
.arrow-line {
  margin-top: 0.6rem;
  width: 6.2rem;
  background: rgb(255, 160, 0);
  height: 0.2rem;
  float: left;
}
.arrow-point {
  width: 0;
  height: 0;
  border-top: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
  border-left: 0.8rem solid rgb(255, 160, 0);
 float: right;
}

.disabled-zone {
  background: rgb(0,0,0,0.7);
}
.disabled-zone p {
  color: white;
}
.no-drag {
  cursor: default;
}
 /* tooltips */
 [data-tooltip]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.8s;
  visibility: visible;
  text-align: center;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  font-size: 0.8rem;
  background-color: #e0e0e0;
  position: absolute;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.5);
  border: 1px solid transparent;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
}
[data-tooltip] {
  position: relative;
}