:root {
    --gridColor: rgb(0,0,0,0.3);
  }

.grid-wrapper {
    display: grid; 
    padding: 1%;  
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 80%;
}

.Prediction-grid {
    grid-area: 1 / 1 / 5 / 4 ;
    grid-column: span 3;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1.5%;
}

.Prediction-header, .Comparative-header {
     grid-column: span 3;
     text-align: center;
}

.Normalization-header, .Clustering-header, .Classification-header {
    text-align: center;
}


.Normalization-grid {
    grid-area: 5 / 1 / 8 / 2 ;
    border-right: 1px solid var(--gridColor);
    padding-bottom: 1.5%;
}

.Clustering-grid {
    grid-area: 5 / 2 / 8 / 3 ;
    border-right: 1px solid var(--gridColor);
    padding-bottom: 1.5%;
}

.Classification-grid {
    grid-area: 5 / 3 / 8 / 4 ;
    padding-bottom: 1.5%;
}

.Comparative-grid {
    grid-area: 8 / 1 / 10 / 4 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.parameter-grid {
    display: grid;
    min-width: fit-content;
    grid-template-columns: 62% 38%;
    margin-left: 0.5rem;
}
.parameter-grid input[type=number] {
    max-height: 2rem;
}
.parameter-select {
    display: grid;
    min-width: fit-content;
    display: grid;
    grid-template-columns: 48% 52%;
    margin-left: 0.5rem;
}
.border-grid {
    border-bottom: 1px solid var(--gridColor);
    border-top: 1px solid var(--gridColor);
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.click-param {
    cursor: pointer; 
}
.click-param:hover {
    color:rgb(255, 140, 0)
}
.param-preset {
    margin-left: 1.9%;
}
.preset-label {
    margin-left: 0.95%;
    min-width: fit-content;
}
input[type=checkbox] {
    margin-left: 10%;
    margin-right: 1%;
    margin-top: -0.3%;
}


