.download-link {
    cursor: pointer;
    text-decoration-line: underline;
    margin-left: 1%;
    width: fit-content;
}

.result-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 3% 4%;
    row-gap: 3rem;
}
.result-select {
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    align-items: center;
    margin-left: 1%;
    margin-bottom: -0.5%;
    padding: 0;
}
.select-header {
    font-size: 1.1rem;
    color: #ffa000;
    margin-bottom: 0.8%;   
}
.result-margin-left {
    margin-left: 3%;
}

.gosling-component{
    padding: 0 0 0 0 !important; /* remove padding */
    /* center elements */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 0;
    
}