* {
    box-sizing:border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: black;
  color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
}

input {
    border: 1.5px solid #eee;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    box-sizing: border-box;
    outline: none;
}

input[type=number] {
    width: 70px;
    text-align: center;
    margin-left: 5px; 
}

input:focus {
    border: 1.5px solid blue;
}

.project-name {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
}

.project-name:focus {
    border: none;
    border-bottom: 2px solid blue;
    background-color: lightgrey;
  }


.form-container {
    padding: 80px 10px;
    margin: auto;
    width: 50%;
    z-index: 1;
}

.element {
    margin: 10px auto;
}

.element-row {
    display: flex;
    flex-direction: row;
}

/* for Drag and Drop popup window */
.popup {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .popup-inner {
    padding: 10px;
    height: 70%;
    width: 60%;
    background: white;
    border-radius: 10px;
    z-index: 2;
  }
  .popup-header {
    padding: 5px;
    color:rgba(0,0,0, 0.7);
    border-bottom: 1px solid rgba(0,0,0, 0.25);
    height: 8%;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  .popup-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
  }
  .dropzone {
    border: 1px dashed rgba(0,0,0, 0.7);
    margin: 2%;
    border-radius: 5px;
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*overflow: auto;*/
    z-index: 2;
  }
  /* Boxen die dropzones enthalten*/
  .drop-box {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
  }
  /* überschrift der drop box + drop box*/
  .drop-box-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 95%;
    margin: 10px;
  }

  .popup-footer {
    border-top: 1px solid rgba(0,0,0, 0.25);
    padding: 5px;
    height: 8%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 /* einzelne drag elemente*/
  .drag-box {
    margin: 2px;
    background-color: black;
    width: 95%;
    height: 35;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }


 












