table {
  border-collapse: collapse;
  width: 100%;
  font-size: 80%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 0.65rem;
  height: 2.5rem;
}


table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: rgb(64, 0, 255);
  color: white;
  width: max-content;
}

table thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

.table-container {
  margin-left: 1.3rem;
  white-space: nowrap;
  overflow: auto;
  max-height: 600px;
}
