.container {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 1rem;
    z-index: 1;
    border-top: transparent;
  }
  
  .tab-row {
    display: flex;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .tab {
    padding: 0.6rem;
    justify-content: center;
    width: 6rem;
    min-width: 6rem;
    background-color: #e0e0e0;
    cursor: pointer;
    border: 1px solid black;
    border-left: 1px solid transparent;
    box-sizing: content-box;
    position: relative;
    z-index: 1;
  }
  .tab:first-child{
    border-left: 1px solid black;
  }
  .tab-active {
    background: white;
    border-bottom: 1px solid transparent;
    z-index: 1;
  }
  .tab-input {
    padding: 0.3rem;
    justify-content: center;
    text-align: center;
    width: 5rem;
    box-sizing: content-box;
    position: relative;
    border: 0px;
    background-color: #e0e0e0;
  }
  .tab-input-active {
      background-color: white;
      z-index: 1;
  }
  .tab-content {
    flex-grow : 1;
    z-index: 1;
  }
  .content-border {
    border: 1px solid black;
    border-top: 1px solid transparent;
  }
  .content {
    background: white;
    padding-left: 0.5rem;
    display: none;
    z-index: 1;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .content-active {
    display: block;
    z-index: 1;
  }
  .line{
    border-bottom: 1px solid black;
    width: 100%;
   }
   .left-line{
     border-bottom: 1px solid black;
     border-right: 1px solid black;
     min-width: 0.5rem;
     margin-left: -0.5rem;
   }